{% extends "base.html" %}
    
    {% load static %}

    {% block content %}


</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="{% static 'images/img-01.png' %}" alt="IMG">
				</div>

				<form class="login100-form validate-form" method="Post">
					 {% csrf_token %}
					<span class="login100-form-title">
						Member Login
					</span>

				{{form.as_p}}
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit">
							Login
						</button>
					</div>

					


				</form>
			</div>
		</div>
	</div>
	
	

	

	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>



</body>
{% endblock %}