
{% extends "base.html" %}
    
{% load static %}

  

{% block content %}
<style>

        .form-title-box{
            font-size: 20pt;
        
            font-weight: 300;
            padding-bottom: 20px;
        }
        </style>

<section class="appointment-section pt-70 pb-70">
        <div class="container">
            <div class="row welcome-feature">
                
                    
                <div class="col-md-9">
                    <div class="appointment-form">
                            <div class="form-title-box">ADD NURSE
                                </div>
        <form action="" method="post" enctype="multipart/form-data">

                      
            {% csrf_token %}
    {% for field in nurse_form %}
    <div class="row">
       <div class="col-md-2">    
        {{ field.label_tag }}
        {% if field.help_text %}
          <sup>{{ field.help_text }}</sup>
        {% endif %}
        {{ field.errors }}
       </div><div class="col-md-10 pull-left">
         {{ field }}
       </div>
    </div>
 {% endfor %}

 <input class="btn btn-theme" type="submit" value="Submit">
                
                
                       
                            
</form>
</div>
</div>
</div>
</div>
{% endblock %}