{% extends "base.html" %}
    
    {% load static %}

    {% block content %}
    
        <!-- Welcome Section Start -->
        <section class="banner-section pt-100 pb-70">
            <div class="container">
                <div class="row">
                    <div class="banner style-1">
                        <h2>contact</h2>
                        <div class="banner-link">
                            <ul>
                                <li><i class="fa fa-angle-right"></i><a href="index.html">Home</a></li>
                                <li><i class="fa fa-angle-right"></i><a href="contact.html">contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Welcome Section End -->

        <!-- Contact Section Start -->
        <section class="pt-70 pb-70">
            <div class="container">
                <div class="welcome-feature">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="service-item style-1 border-1px">
                                <div class="service-icon">
                                    <i class="pe-7s-map"></i>
                                </div>
                                <div class="content">
                                    <h5><a href="#">Contact Info</a></h5>
                                    <p>5B Streat, City 50987 New Town US, <br>Khulna, BD</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="service-item style-1 border-1px">
                                <div class="">
                                    <i class="pe-7s-clock"></i>
                                </div>
                                <div class="content">
                                    <h5><a href="#">Business Hours</a></h5>
                                    <p>Monday-Friday: 10am to 8pm <br>Saturday: 11am to 3pm</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 center-sm-block center-sm-block">
                            <div class="service-item style-1 border-1px">
                                <div class="">
                                    <i class="pe-7s-mail-open"></i>
                                </div>
                                <div class="content">
                                    <h5><a href="#">Email</a></h5>
                                    <p><a href="#">info@bdcoder.com</a> <br> <a href="#">set-info@bdcoder.com</a> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact Section End -->

        <!-- Contact Section Start -->
        <section class="pt-0 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="section-title mb-5">
                            <h3>Get in Touch</h3>
                            <div class="border-style-1"></div>
                        </div>
                        <form id="ajax-contact" method="post" action="http://heatmaponline.com/html/hseba/v-1.1/php/contact.php">
                            <div class="form-row">
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group">
                                      <input type="text" name="name" id="name" class="form-control" placeholder="First Name" required>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group">
                                      <input type="text" name="name" id="name2" class="form-control" placeholder="Last Name" required>
                                  </div>
                                </div>
                                <div class="col-md-12">
                                  <div class="form-group">
                                      <input type="email" name="email" id="email" class="form-control" placeholder="Your Email"  required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                  <div class="form-group">
                                    <input type="text" name="subject" class="form-control" placeholder="Subject" id="subject" required>
                                  </div>
                                </div>
                                <div class="col-md-12">
                                  <div class="form-group">
                                    <div class="contact-textarea">
                                      <textarea class="form-control" rows="6" placeholder="Wright Message" id="message" name="message" required></textarea>
                                      <button class="btn btn-theme mt-4" type="submit" value="Submit Form">Send Message</button>
                                    </div>
                                  </div>
                                </div>
                                <div id="form-messages"></div>
                              </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="theme-color ">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1902.2896070239312!2d89.52809404926671!3d22.798366500998387!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1539975233577" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact Section End -->

       

        <!-- Footer Style One Start -->

        <div class="site-footer-space"></div>
        <footer class="bg-faded pt-70">
            <div class="container pb-30">
                <div class="section-content">
                  <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="footer-item footer-widget-one">
                          <img class="footer-logo" src="static/images/footer-logo.png" alt="">
                          

                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                      <div class="footer-item footer-widget-two">
                   
                        <div class="news-area clearfix">
                          <div class="news-img">
                              <a href="#">
                                <img src="static/images/footer/p1.jpg" alt="">
                                <span class="fa fa-link"></span>
                              </a>
                          </div>
            
                        </div>
                        <div class="news-area clearfix">
                          <div class="news-img">
                              <a href="#">
                                <img src="static/images/footer/p2.jpg" alt="">
                                <span class="fa fa-link"></span>
                              </a>
                          </div>
             
                        </div>
                        <div class="news-area clearfix">
                          <div class="news-img">
                              <a href="#">
                                <img src="static/images/footer/p3.jpg" alt="">
                                <span class="fa fa-link"></span>
                              </a>
                          </div>
                 
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
            </div>


        </footer>
        <!-- Footer Style One End -->

       




    <a href="#" class="scrollup"><i class="pe-7s-up-arrow" aria-hidden="true"></i></a>

{% endblock %}