{% extends "base.html" %}
    
    {% load static %}

    {% block content %}

        <!-- Banner Section Start -->
        <section class="banner-section pt-100 pb-70">
            <div class="container">
                <div class="row">
                    <div class="banner style-1">
                        <h2>doctor details</h2>
                        <div class="banner-link">
                            <ul>
                                <li><i class="fa fa-angle-right"></i><a href="index.html">Home</a></li>
                                <li><i class="fa fa-angle-right"></i><a href="team-details.html">doctor details</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Banner Section End -->

        <!-- Details Section Start -->
        <section class="doctor-details-section pt-70 pb-70">
            <div class="container">
                <div class="row doctor-details">
                   
                    <div class="col-md-8">
                        <div class="content">
                            {% for doc_profile in doc_profile %}
                            <h3>{{doc_profile.name}}</h3>
                            <ul class="specialist">
                                <li><span>Department:{{doc_profile.department_name}}</span></li><br>
                                <li><span>Grade:{{doc_profile.grade}}</span></li><br>
                                <li><span>Member Since:{{doc_profile.schedule}}</span></li>
                            </ul>
                           <!-- <p class="mb-30"><strong>bio:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel doloribus animi officia nihil illum, distinctio ducimus doloremque asperiores, accusantium expedita magni amet eius totam nesciunt. Quod natus accusamus fuga laborum, delectus, tempora, similique assumenda repellat amet eveniet expedita odio minus. Quam, expedita commodi dolorum velit natus error optio.</p>
                            -->
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="contact-info-box">
                                        <strong>Address:</strong><br>
                                        <p>{{doc_profile.address}}</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="contact-info-box">
                                        <strong>Call:</strong><br>
                                        <p>{{doc_profile.contact_number}}</p>
                                      
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="contact-info-box">
                                        <strong>Visiting Time</strong>
                                        <p>{{doc_profile.starttime}}-{{doc_profile.endtime}}</p>
                                    </div>
                                </div>
                            </div>
                            <ul class="social-media">
                                <li><a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i aria-hidden="true" class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i aria-hidden="true" class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i aria-hidden="true" class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i aria-hidden="true" class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <!-- Details Section End -->


    <a href="#" class="scrollup"><i class="pe-7s-up-arrow" aria-hidden="true"></i></a>

</body>
    {% endblock %}
    <!-- Main JavaScript -->
    