  
    {% load static %}
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>


<!--  Login scripts-->


<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<script src="{% static 'vendor/tilt/tilt.jquery.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>


<!-- Optional JavaScript -->
<script src="{% static 'js/bootstrap-dropdownhover.min.js' %}"></script>
<script src="{% static 'js/bootsnav.js' %}"></script>
<script src="{% static 'js/bootstrap-slider.js' %}"></script>
<script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/retina.min.js' %}"></script>
<script src="{% static 'js/css3-animate-it.js' %}"></script>
<script src="{% static 'js/magnific-popup.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.js' %}"></script>
<script src="{% static 'js/gallery.js' %}"></script>
<script src="{% static 'js/player-min.js' %}"></script>





<!-- Custom JavaScript -->
<script src="{% static 'js/script.js' %}"></script>